# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

data/
cnn_mlp_checkpoint/
mtunet_checkpoint/
dffr_unet_checkpoint/
cnn_mlp_checkpoint_training_log.csv
mtunet_checkpoint_training_log.csv
dffr_unet_checkpoint_training_log.csv
