# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/data/img.7z
/data/img_split.7z
/data/img_split_trunc.7z
/data/img/
/data/img_*/
/cnn_mlp_checkpoint/
