absl-py==1.4.0
aiohttp @ file:///C:/b/abs_b78zt6vo64/croot/aiohttp_1694181126607/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
altair==5.2.0
altgraph==0.17.2
anyio==3.6.1
apache-beam==2.37.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout @ file:///C:/b/abs_43ozhz2a8g/croots/recipe/async-timeout_1664876362767/work
attrs==21.4.0
auto-py-to-exe==2.20.1
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
blinker @ file:///C:/b/abs_d9y2dm7cw2/croot/blinker_1696539752170/work
blis==0.7.7
bottle==0.12.19
bottle-websocket==0.2.9
Brotli @ file:///C:/Windows/Temp/abs_63l7912z0e/croots/recipe/brotli-split_1659616056886/work
brotlipy==0.7.0
cachetools==5.0.0
catalogue==2.0.7
catboost==1.0.5
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
click @ file:///C:/b/abs_f9ihnt72pu/croot/click_1698129847492/work
cloudpickle==2.0.0
colorama==0.4.4
crcmod==1.7
cryptography @ file:///C:/b/abs_f4do8t8jfs/croot/cryptography_1694444424531/work
cv==1.0.0
cycler==0.11.0
cymem==2.0.6
Cython==0.29.28
DAWG-Python==0.7.2
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.4
docopt==0.6.2
docx==0.2.4
Eel==0.14.0
entrypoints==0.4
executing==0.8.3
extra-streamlit-components==0.1.60
fastavro==1.4.10
fasteners==0.17.3
fastjsonschema==2.15.3
fbs==1.1.3
flatbuffers @ file:///tmp/build/80754af9/python-flatbuffers_1614345733764/work
fonttools==4.33.3
fpdf==1.7.2
freetype-py==2.2.0
frozenlist @ file:///C:/b/abs_d8e__s1ys3/croot/frozenlist_1698702612014/work
future==0.18.2
gast==0.5.3
gensim==4.2.0
gevent==21.12.0
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.41
google-api-core==1.31.5
google-apitools==0.5.31
google-auth==2.17.2
google-auth-oauthlib==0.4.6
google-cloud-bigquery==2.34.3
google-cloud-bigquery-storage==2.13.1
google-cloud-bigtable==1.7.1
google-cloud-core==1.7.2
google-cloud-datastore==1.15.4
google-cloud-dlp==3.6.2
google-cloud-language==1.3.1
google-cloud-pubsub==2.12.0
google-cloud-pubsublite==1.4.1
google-cloud-recommendations-ai==0.2.0
google-cloud-spanner==1.19.2
google-cloud-videointelligence==1.16.2
google-cloud-vision==1.0.1
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.1
graphviz==0.20
greenlet==1.1.2
grpc-google-iam-v1==0.12.4
grpcio==1.46.0
grpcio-gcp==0.2.2
grpcio-status==1.44.0
gviz-api==1.10.0
h5py==3.8.0
hdfs==2.7.0
httplib2==0.19.1
hyperopt==0.2.7
idna==3.3
imageio==2.17.0
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata==4.11.4
ipykernel==6.13.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.8
jsonschema==4.6.0
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter-client==7.3.2
jupyter-core==4.10.0
jupyter-packaging==0.12.1
jupyter-server==1.17.0
jupyterlab==3.4.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
jupyterlab-widgets==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
langcodes==3.3.0
libclang==16.0.0
llvmlite==0.37.0
lxml==5.1.0
macholib==1.16
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mdurl==0.1.2
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
multidict @ file:///C:/b/abs_6cx_8w3cv2/croot/multidict_1665674238352/work
murmurhash==1.0.6
nbclassic==0.3.7
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8
notebook==6.4.11
notebook-shim==0.1.0
numba @ file:///C:/ci/numba_1635186062888/work
numpy==1.24.2
numpy-quaternion==2022.4.1
oauth2client==4.1.3
oauthlib==3.2.2
open3d @ file:///D:/Open3D/build/lib/python_package/pip_package/open3d-0.15.2%2B0a3f8c18-cp39-cp39-win_amd64.whl
opencv-python==4.8.1.78
OpenEXR==1.3.7
opt-einsum==3.3.0
orjson==3.6.8
overrides==6.1.0
packaging==21.3
pandas==2.0.0
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.1
pefile==2021.9.3
pickleshare==0.7.5
pillow==10.2.0
platformdirs @ file:///C:/b/abs_b6z_yqw_ii/croot/platformdirs_1692205479426/work
plotly==5.8.0
ply==3.11
preshed==3.0.6
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.29
proto-plus==1.20.3
protobuf==4.25.2
psutil==5.9.1
pure-eval==0.2.2
py2exe==0.11.1.0
py4j==0.10.9.7
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyaspeller==0.2.3
pyassimp==4.1.4
pycparser==2.21
pydantic==1.8.2
pydeck==0.8.1b0
pydot==1.4.2
pygame==2.1.2
pyglet==1.5.23
Pygments==2.17.2
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.5
PyJWT @ file:///C:/ci/pyjwt_1657511236979/work
pymongo==3.12.3
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
PyOpenGL @ file:///D:/Study/Thesis/FaceVolumeer_Learn/pyopengl
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pyparsing==3.0.9
pypdf==4.0.0
pypiwin32==223
PyQt-builder==1.12.2
pyreadline==2.1
pyrender==0.1.45
pyrsistent==0.18.1
PySide6==6.3.0
PySide6-Addons==6.3.0
PySide6-Essentials==6.3.0
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil==2.8.2
pytz==2022.1
PyWavefront==1.3.3
pywin32==304
pywin32-ctypes==0.2.0
pywinpty==2.0.5
pyzmq==23.1.0
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
requests==2.27.1
requests-oauthlib==1.3.1
rich==13.7.0
rpds-py @ file:///C:/b/abs_76j4g4la23/croot/rpds-py_1698947348047/work
rsa==4.9
scikit-learn==1.1.0
scipy==1.11.3
seaborn==0.11.2
Send2Trash==1.8.0
shiboken6==6.3.0
sip==6.6.1
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.1
sniffio==1.2.0
soupsieve==2.3.2.post1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
srsly==2.4.3
stack-data==0.2.0
streamlit==1.30.0
streamlit-cropper==0.2.2
streamlit-image-comparison==0.0.4
tenacity==8.2.3
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-profile==2.11.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.4
tensorflow-addons==0.16.1
tensorflow-datasets==4.5.2
tensorflow-estimator==2.8.0
tensorflow-gpu==2.8.0
tensorflow-graphics==2021.12.3
tensorflow-graphics-gpu==1.0.0
tensorflow-hub==0.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.8.0
tensorflow-transform==0.14.0
termcolor==2.2.0
terminado==0.15.0
testpath @ file:///C:/Windows/TEMP/abs_23c7fa33-cbb9-46dc-b7c5-590c38e2de3d4bmbngal/croots/recipe/testpath_1655908553202/work
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.0.15
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
tomlkit==0.11.0
toolz==0.12.0
tornado==6.1
tqdm==4.64.0
traitlets==5.2.2.post1
transformations==2021.6.6
trimesh==3.12.0
typeguard==2.13.3
typer==0.4.1
typing-utils==0.1.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.2
urllib3==1.26.9
validators==0.22.0
wasabi==0.9.1
watchdog==3.0.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.2.3
whichcraft==0.6.1
widgetsnbextension==3.6.0
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
win10toast==0.9
wincertstore==0.2
wrapt==1.15.0
wxPython==4.2.1
xatlas==0.0.6
yarl @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_e5nlunspj6/croots/recipe/yarl_1661437086516/work
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
